#container{
    margin: 2.5em auto;

    display: grid;
    grid-template-columns: 30% 30%;
    row-gap: 3em;

    justify-content: center;
    text-align: center;
}

#container .title{
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.025em;
    line-height: 1.4;

    margin: 0.3em 0px 0.5em;
}

#container p{
    margin-top: 2px;

    color: var(--text-color-light);
}
#container a{
    text-decoration: none;
    color: #000;

    margin-top: 100px;
    padding-bottom: 2px;
}