<p class="mb-2">Размер</p>

<!-- <div class="checkbox-group">
    <div class="checkbox" *ngFor="let size of sizes">
		<label class="checkbox-wrapper">
			<input type="radio" class="checkbox-input" [value]="size.value" [(ngModel)]="size.selected" (ngModelChange)="select_size(size.value)"/>
			<span class="checkbox-tile">
				<span class="checkbox-label">{{ size.name }}</span>
			</span>
		</label>
	</div>
</div> -->

<select>
	<option value="30">30mm</option>
	<option value="33">33mm</option>
	<option value="40">40mm</option>
	<option value="45">45mm</option>
	<option value="50">50mm</option>
	<option value="60">60mm</option>
	<option value="70">70mm</option>
	<option value="80">80mm</option>
</select>