<div id="container" class="my-5 py-5">
    <p class="mb-3">Забравена парола</p>

    <div [ngClass]="incorrect ? 'd-flex justify-center':'d-none'">
        <span class="incorrect w-100 text-center mb-2">Моля, въведете валиден имейл </span>
    </div>

    <div [ngClass]="success ? 'd-flex justify-center':'d-none'">
        <span class="success w-100 text-center mb-2">Успешно изпращате имейл за нулиране на парола.</span>
    </div>


    <form>
        <div>
            <label for="name" [ngClass]="incorrect ? 'incorrect':''">имейл</label>
            <input id="name" name="name" type="email" [(ngModel)]="form.email">
        </div>
                
        <input class="primary-button" type="button" value="Изпратете имейл" (click)="submit_forgoten_password()">
    </form>
</div>

