<div id="datapanels">
    <div>
        <h1>{{ datapanels.sales }}</h1>
        <p>Разпродажби днес</p>
        <img src="/assets/icons/bag.svg" alt="">
    </div>
    <div>
        <h1>{{ datapanels.profit }}</h1>
        <p>Печалба в BGN</p>
        <img src="/assets/icons/money.svg" alt="">
    </div>
    <div>
        <h1>{{ datapanels.unsend }}</h1>
        <p>Неизпратени поръчки</p>
        <img src="/assets/icons/package.svg" alt="">
    </div>
    <div>
        <h1>{{ datapanels.feedbacks }}</h1>
        <p>Обратна връзка</p>
        <img src="/assets/icons/paperwork.svg" alt="">
    </div>
</div>