<br><br>

<div id="container">
    <div class="product_main">
        <div class="module_sub" #rendererContainer></div>
        <div class="product_info d-flex flex-column justify-content-between">
            <div>
                <p id="category">{{ info?.category_name }}</p>
                <p id="name">{{ info?.name }}</p>
                <p id="id">Product № {{ info?.id }}</p>
                <p id="price">{{ info?.price }} BGN</p>
            </div>

            <div>
                <app-product-sizes></app-product-sizes>
                <div class="success">
                    <p>{{ succesfuly_added }}</p>
                </div>
                <div class="buttons">
                    <button (click)="add_to_card( info?.id )" class="primary-button">Add to card</button>
                    <button (click)="add_to_liked( info?.id )" class="secondary-button">
                        <img src="assets/icons/heart.svg" alt="" class="icon" style="width: 30px;">
                    </button>
                </div>

                <!-- <p>Store details</p> -->
                <div class="d-flex gap-2 flex-column mb-5">
                    <div class="d-flex align-items-center gap-2">
                        <img src="assets/icons/phone.svg" alt="" class="icon" style="width: 27px;">
                        <p><b>ПОРЪЧА</b> по телефона: 0888 633 077 (10:00 до 19:00 в работни дни)</p>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <img src="assets/icons/bag.svg" alt="" class="icon" style="width: 27px;">
                        <p><b>БЕЗПЛАТНА ДОСТАВКА</b> над 150лв.</p>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <img src="assets/icons/package.svg" alt="" class="icon" style="width: 27px;">
                        <p><b>ВРЪЩАНЕ</b> до 14 дни</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product_description">
        <p id="description">{{ info?.description }}</p>
        <img id="cover_image" [src]="'http://localhost/assets/product' + info?.cover_path" alt="">
    </div>
</div>

<app-recommended></app-recommended>